 .hero {
            position: relative;
            height: 100vh;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .bg-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        .hero-content {
            z-index: 1;
            padding: 20px;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 10px;
        }

        .hero-content h1 {
            color: #fff;
            font-size: 3rem;
            margin-bottom: 1rem;
            font-family: monospace;
        }

        .hero-content p {
            color: aliceblue;
            font-size: 1.5rem;
            margin-bottom: 2rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .explore-btn {
            display: inline-block;
            background: rgb(255, 194, 103);
            color: rgb(133, 77, 0);
            padding: 12px 30px;
            margin-top: 20px;
            border-radius: 30px;
            text-decoration: none;
            font-weight: 600;
            transition: all 0.3s ease;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .explore-btn:hover {
            background-color: #d1aa73;
        }

        .food {
            background-color: #ffffff;
            padding: 60px 20px;
            text-align: center;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        .section-title {
            font-size: 2.2rem;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            margin: 50px auto 0px auto;
            text-align: center;
            font-weight: bold;
        }

        .carousel {
            position: relative;
            max-width: 800px;
            margin: auto;
            overflow: hidden;
        }

        .carousel-track {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .carousel-item {
            min-width: 100%;
            box-sizing: border-box;
        }

        .carousel-item img {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
            border-radius: 12px;
        }

        .food-name {
            margin-top: 12px;
            font-size: 1.3rem;
            font-weight: 500;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .carousel-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: #00000080;
            border: none;
            color: white;
            font-size: 2rem;
            cursor: pointer;
            padding: 10px 15px;
            border-radius: 50%;
            z-index: 10;
        }

        .carousel-btn:hover {
            background: #00000080;
        }

        .prev {
            left: 10px;
        }

        .next {
            right: 10px;
        }

        .about-food p {
            font-size: 24px;
            font-family: Arial, sans-serif;
            color: #666666;
            max-width: 1000px;
            margin: 0 auto;
            text-align: left;
        }

        .timeline {
            position: relative;
            max-width: 1000px;
            margin: auto;
            padding: 40px 0 80px;
        }

        .timeline::after {
            content: '';
            position: absolute;
            width: 6px;
            background-color: #555;
            top: 40px;
            bottom: 40px;
            left: 50%;
            margin-left: -3px;
        }

        .timeline-container {
            padding: 20px 40px;
            position: relative;
            width: 40%;
        }

        .timeline-container.left {
            left: 0;
        }

        .timeline-container.right {
            left: 50%;
        }

        .content {
            background-color: #fff;
            padding: 20px;
            border-radius: 12px;
            position: right;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            font-family: Verdana, Geneva, Tahoma, sans-serif;

        }

        .timeline-container.left .content {
            margin-right: auto;
            margin-left: 0;
            text-align: left;
        }

        .timeline-container.right .content {
            margin-left: auto;
            margin-right: 0;
            text-align: left;
        }

        .timeline-container::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: rgb(198, 116, 8);
            top: 30px;
            border-radius: 50%;
            z-index: 1;
            transform: scale(0);
            opacity: 0;
            transition: all 0.6s ease-out;
        }

        .timeline-container.show::before {
            transform: scale(1.2);
            opacity: 1;
        }

        .timeline-container .content {
            opacity: 0;
            transform: translateY(30px);
            transition: all 0.8s ease-out;
        }

        .timeline-container.show .content {
            opacity: 1;
            transform: translateY(0);
        }

        .timeline-container.left::before {
            right: -35px;
        }

        .timeline-container.right::before {
            left: -15px;
        }

        .food-list {
            margin-top: 10px;
        }

        .food-list li {
            margin: 5px 0;
        }

        .food-list a {
            text-decoration: none;
            color: #333;
            transition: 0.3s;
        }

        .food-list a:hover {
            color: #a7790d;
            font-weight: bold;
            cursor: pointer;
        }



    


